<div class="aside-container">
    <div class="logo-content">
        <span class="messages-count" *ngIf="messages.length && isLogged">
            {{messages.length > 9 ? '9+' : messages.length}}
            <app-edit
                *ngIf="isLogged"
                [page]="pageName"
                [modal-name]="modalName"
                modal-title="Messages"
            ></app-edit>
        </span>
        <a  [routerLink]="'/home'">
            <app-svg-icon
                [width]="40"
                [height]="35"
                [stroke]="mainBlueColor"
                [stroke-width]="1"
                type="logo-mini"
            ></app-svg-icon>
            Arthur
        </a>
    </div>
    <ul class="aside_center-content">
        <li>
            <a [routerLink]="['/home']" routerLinkActive="active-router-link">
                <i class="lnr lnr-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/programs']" routerLinkActive="active-router-link">
                <i class="lnr lnr-keyboard"></i>
                <span>Programs</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/about']" routerLinkActive="active-router-link">
                <i class="lnr lnr-user"></i>
                <span>About</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/my-works']" routerLinkActive="active-router-link">
                <i class="lnr lnr-eye"></i>
                <span>Works</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/skills']" routerLinkActive="active-router-link">
                <i class="lnr lnr-cog"></i>
                <span>Skills</span>
            </a>
        </li>
        <li>
            <a [routerLink]="['/contact']" routerLinkActive="active-router-link">
                <i class="lnr lnr-envelope"></i>
                <span>Contact</span>
            </a>
        </li>
    </ul>
    <ul class="aside_bottom-content">
        <app-edit
            *ngIf="isLogged"
            [page]="asideBar"
            modal-name="edit-links"
            icon="lnr-pencil"
            [collection-field-name]="asideBarFieldName"
            modal-title="Update links"
        ></app-edit>
        <li>
            <a [attr.href]="asideBarLinks?.fb" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a [attr.href]="asideBarLinks?.linkedin" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a [attr.href]="asideBarLinks?.github" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </li>
        <li *ngIf="pdfURL">
            <a [href]="pdfURL" alt="cv" target="_blank" class="cv-hover">
                <img src="/assets/Icons/cv.png" alt="">
                <img src="/assets/Icons/cv_active.png" alt="">
            </a>
        </li>
        <li class="log-out" *ngIf="isLogged">
            <span class="lnr lnr-exit" (click)="logOut()"></span>
        </li>
    </ul>
</div>
