@import "variables";
@import "mixins";
h1 {
    color: #fff;
    font-size: 45px;
    @include max-xs-s {
        font-size: 35px;
    }
    span.italic-tag:first-child {
        display: block;
    }
    span.italic-tag:last-child {
        margin-left: 10px;
    }
    p {
        font-family: "Catamaran";
        display: inline;
        ::ng-deep span {
            opacity: 0;
            transition: .4s;
        }
    }
    .italic-tag {
        font-size: 20px;
        color: $main-font-color;
        font-family: "Dancing Script";
    }
}
