<section>
    <div class="shuffle-header">
        <button (click)="filterPrograms('*')" [class.active-btn]="publicLanguage === '*'" data-filter="*">All</button>
        <button
            (click)="filterPrograms(replaceLanguage(language))"
            [class.active-btn]="publicLanguage === replaceLanguage(language)"
            [attr.data-filter]="'.' + replaceLanguage(language)"
            *ngFor="let language of generateBtns()">{{language}}</button>
    </div>
    <div class="grid">
        <div [ngClass]="['grid-item', replaceLanguage(item.language)]" [attr.data-category]="replaceLanguage(item.language)" *ngFor="let item of myPrograms">
            <app-single-programm
                [data]="item"
            ></app-single-programm>
        </div>
    </div>
</section>
