.every-programme {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: .4s;
        background-color: #18181894;
    }
    &.disable-item {
        &:after {
            background-color: #08fdd894;
        }
    }
    &:hover:after {
        background-color: transparent;
    }
    > a {
        opacity: 0;
        visibility: hidden;
        transform: translateY(7px);
        transition: 0.4s;
        border: 1px solid #fff;
        color: #fff;
        font-size: 16px;
        margin: 15px 15px 0px 0px;
        padding: 10px 20px;
        text-transform: uppercase;
        background: #181818bf;
        text-decoration: none;
        z-index: 12;
    }
    &:hover a {
        transform: translateY(0px);
        opacity: 1;
        visibility: visible;
    }
    .name {
        position: absolute !important;
        z-index: 22;
        bottom: 0;
        background-color: #181818bf;
        width: calc(100% - 30px);
        text-align: center;
        color: #fff;
        transition: .4s;
        transform: translateY(15px);
        opacity: 0;
        visibility: hidden;
        text-transform: uppercase;
        padding: 5px 15px;
        font-weight: 600;
        height: 30px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &:hover .name {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    .date {
        position: absolute !important;
        z-index: 22;
        top: 0;
        background-color: #181818bf;
        width: calc(100% - 30px);
        text-align: center;
        color: #fff;
        transition: .4s;
        transform: translateY(-15px);
        opacity: 0;
        visibility: hidden;
        padding: 5px 15px;
        ::ng-deep .lnr-pencil {
            right: 5px !important;
        }
        .lnr-cross {
            position: absolute;
            left: 5px;
            padding: 5px;
            border: 1px solid #9c3a3a;
            background: #9c3a3a;
            cursor: pointer;
        }
    }
    &:hover .date {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
}

