<div class="container-about">
    <div class="container-about_left">
        <div class="html_content">
            <div class="html-content_top">
                <p>
                    <span class="italic-tag">&#60; html &#62; </span>
                </p>
                <p>
                    <span class="italic-tag">&#60; body &#62; </span>
                </p>
            </div>
            <div class="html-content_middle">
                <app-main-title text="About Me" [interval]="1"></app-main-title>
                <p class="desc-contact-p">
                    I’m a self taught Middle Front-End Developer with the 3 year of professional work experience I’m 24, I’m passionate about programming, astrology and geography. I’m a very positive person and a team player :)
                    I have worked in the Volvox LLC, ArsSystem LLC and now I am working <a href="https://www.esterox.org/" target="_blank">Esterox LLC</a>
                </p>
                <div class="phone-email">
                    <a href="tel:+37494129604"><span class="lnr lnr-phone-handset"></span>+37494129604</a>
                    <a href="mailto:arthur.sahakyan96@gmail.com"><span class="lnr lnr-envelope"></span>  arthur.sahakyan96@gmail.com</a>
                </div>
                <div class="container-mobile-pyramid">
                    <div class="side left"></div>
                    <div class="side front"></div>
                    <div class="side right"></div>
                    <div class="side back"></div>
                </div>
            </div>
            <div class="html-content_bottom">
                <p>
                    <span class="italic-tag">&#60;/ body &#62; </span>
                </p>
                <p>
                    <span class="italic-tag">&#60;/ html &#62; </span>
                </p>
            </div>
        </div>
    </div>
    <div class="container-about_right">
        <div class="container-pyramid">
            <div class="side left"></div>
            <div class="side front"></div>
            <div class="side right"></div>
            <div class="side back"></div>
        </div>
    </div>
</div>
