.main-wrap-send-contact-messages {
    max-height: 80vh;
    .messages-list {
        border-radius: 4px;
        padding: 9px;
        background-color: #1D1D1D;
        margin-bottom: 15px;
        h6 {
            font-size: 20px;
        }
    }
}
