<div class="container-skills">
    <div class="container-skills_left">
        <div class="html_content">
            <div class="html-content_top">
                <p>
                    <span class="italic-tag">&#60; html &#62; </span>
                </p>
                <p>
                    <span class="italic-tag">&#60; body &#62; </span>
                </p>
            </div>
            <div class="html-content_middle" #middleContent>
                <app-main-title text="Skills & Experience" [interval]="2"></app-main-title>
                <p class="desc-contact-p">
                    The main area of my expertise is front end development (client side of the web).
                </p>
                <p class="desc-contact-p">
                    HTML, CSS, JS (TypeScript), building small, medium and a big web apps with Angular, Vue and React, custom plugins, features, animations, and coding interactive layouts.
                </p>
                <p class="desc-contact-p">
                    I have also full-stack developer experience with Firebase
                </p>
            </div>
            <div class="html-content_bottom">
                <p>
                    <span class="italic-tag">&#60;/ body &#62; </span>
                </p>
                <p>
                    <span class="italic-tag">&#60;/ html &#62; </span>
                </p>
            </div>
        </div>
    </div>
    <div class="container-skills_right" #rightPanel>
        <div id="myCanvasContainer" #myTagCloud>
            <canvas width="400" height="400" id="myCanvas">
                <p>In Internet Explorer versions up to 8, things inside the canvas are inaccessible!</p>
            </canvas>
        </div>

        <div id="tags" style="display: none">
            <ul>
                <li><a href="javascript:void(0)" >JavaScript</a></li>
                <li><a href="javascript:void(0)" >TypeScript</a></li>
                <li><a href="javascript:void(0)" >Vue.js</a></li>
                <li><a href="javascript:void(0)" >React.js</a></li>
                <li><a href="javascript:void(0)" >AngularJS</a></li>
                <li><a href="javascript:void(0)" >Angular2+</a></li>
                <li><a href="javascript:void(0)" >Redux</a></li>
                <li><a href="javascript:void(0)" >NGRX</a></li>
                <li><a href="javascript:void(0)" >RxJS</a></li>
                <li><a href="javascript:void(0)" >VUEX</a></li>
                <li><a href="javascript:void(0)" >HTML</a></li>
                <li><a href="javascript:void(0)" >CSS</a></li>
                <li><a href="javascript:void(0)" >Bootstrap</a></li>
                <li><a href="javascript:void(0)" >Docker</a></li>
                <li><a href="javascript:void(0)" >Linux</a></li>
                <li><a href="javascript:void(0)" >Git</a></li>
                <li><a href="javascript:void(0)" >jQuery</a></li>
                <li><a href="javascript:void(0)" >Next.jx</a></li>
                <li><a href="javascript:void(0)" >Nuxt.js</a></li>
                <li><a href="javascript:void(0)" >Knockout.JS</a></li>
                <li><a href="javascript:void(0)" >Underscore.js</a></li>
                <li><a href="javascript:void(0)" >Firebase</a></li>
                <li><a href="javascript:void(0)" >Babylon.js</a></li>
                <li><a href="javascript:void(0)" >CanvasJS</a></li>
                <li><a href="javascript:void(0)" >Web Components</a></li>
                <li><a href="javascript:void(0)" >BEM</a></li>
                <li><a href="javascript:void(0)" >Less</a></li>
                <li><a href="javascript:void(0)" >SASS</a></li>
                <li><a href="javascript:void(0)" >OOP</a></li>
                <li><a href="javascript:void(0)" >TortoiseGit</a></li>
            </ul>
        </div>
    </div>
</div>
